header {
    background-color: teal;
    color: azure;
    text-align: center;
}

body {
    background-image: url(record.png);
    background-size: 60px;
    background-repeat: repeat;
    margin: 0;
}

main {
    background-color: rgb(196, 195, 195);
    padding: 1em;
}